HTML {
  background-color: #282c34;
}

.App {
  text-align: center;
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: vibrate 0.3s linear infinite both;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.pageBody {
  color: white;
  height: 100%;
  margin-top: 2rem;
}
li {
  display: flex;
  justify-content: center;
  list-style: none;
  align-content: center;
}
.homeBodyText {
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}
.homeStackText {
  margin-top: 2rem;
}

.logo {
  height: 100px;
  width: 100px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
